* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

/* ------------------------------------------------------- */
/* ------------------------- NAV ------------------------- */
/* ------------------------------------------------------- */

nav {
    width: 100%;
    height: 40px;
    background-color: #6839CC;
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

nav .tracking-order {
    display: flex;
}

nav .find-store {
    display: flex;
    align-items: center;
    padding-right: 32px;

}

nav .find-store img {
    width: 12px;
    height: 14px;
    cursor: pointer;
}

nav .find-store h3 {
    color: white;
    font-size: 14.5px;
    font-weight: 370;
    font-family: "Rubik", sans-serif;
    padding-left: 10px;
    cursor: pointer;
    transition: all .2s ease;
}

nav .order-tracking {
    display: flex;
    align-items: center;
}

nav .order-tracking img {
    width: 15px;
    height: 14px;
}

nav .order-tracking h3 {
    color: white;
    font-size: 14.5px;
    font-weight: 370;
    font-family: "Rubik", sans-serif;
    padding-left: 10px;
}

nav .buy-online {
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 260px;
}

nav .buy-online div {
    width: 70.93px;
    height: 26px;
    font-size: 14px;
    font-weight: 550;
    font-family: "Rubik", sans-serif;
    color: white;
    background-color: #ff782c;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

nav .buy-online p {
    font-size: 14.5px;
    font-weight: 370;
    color: white;
    font-family: "Rubik", sans-serif;
}

nav .currency-and-language {
    padding-top: 8px;
}

nav .currency-and-language span {
    font-size: 14.5px;
    font-weight: 550;
    color: white;
    font-family: "Rubik", sans-serif;
    margin-left: 20px;
    cursor: pointer;
    transition: all .2s ease;
}

nav .currency-and-language span i {
    font-size: 10px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-left: 2px;
    cursor: pointer;
}

nav .currency-and-language span:hover {
    color: #ff782c;
}

/* ------------------------------------------------------- */
/* ------------------------- HEADER ---------------------- */
/* ------------------------------------------------------- */

header {
    width: 100%;
    height: 104.67px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background-color: white;
    border-bottom: #E5E5E5 dashed 1px;
}

.ziggy-logo {
    padding-right: 8px;
    cursor: pointer;
}

header ul {
    display: flex;
    padding-left: 55px;
    margin-right: 52px;
}

header ul li {
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 22px;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;
}

header ul li a {
    color: #000000;
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;
}

header ul li a:hover {
    color: #ff782c;
}


header ul li:hover {
    color: #ff782c;
}

header ul li span {
    color: #ff782c;
    cursor: pointer;
}

ul li .underline {
    width: 37px;
    border-bottom: #ff782c solid 1.5px;
    position: absolute;
    bottom: 16px;
}

header ul li .fa-angle-down {
    font-size: 11px;
    margin: 0 0 3px 7px;
}

.searchbar {
    position: relative;
}

header .searchbar #search-input {
    width: 280.29px;
    height: 46.67px;
    font-size: 15px;
    font-family: "Rubik", sans-serif;
    background-color: #f5f5f5;
    border-radius: 50px;
    padding: 13px 55px 15px 20px;
    outline: none;
    border: none;
    cursor: text;
    transition: all .3s ease;

}

header .searchbar #search-input::placeholder {
    color: #9d9d9d;
}

header .searchbar #search-input:focus {
    border: #6839cc 1px solid;
}

.searchbar button {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #6839cc;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: all .2s ease;
    cursor: pointer;
}

.searchbar button .fa-magnifying-glass {
    color: white;
    cursor: pointer;
}

.searchbar button:hover {
    background-color: #ff782c;
}

.icon-container {
    width: 15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon-container i {
    font-size: 20px;
    padding: 11px;
    transition: all .2s ease;
    cursor: pointer;

}

.icon-container i:hover {
    color: #ff782c;
}

.icon-container p {
    font-size: 14px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    padding-left: 4px;
    transition: all .1s ease;
    cursor: pointer;
}

.icon-container p:hover {
    color: #ff782c;
}

header .notification1 {
    width: 18px;
    height: 18px;
    font-size: 13px;
    color: white;
    background-color: #ff782c;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 90px;

}

header .notification2 {
    width: 18px;
    height: 18px;
    font-size: 13px;
    color: white;
    background-color: #ff782c;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 47px;
}

/* -------------------------------------------------------- */
/* --------------------- FIRST SECTION -------------------- */
/* -------------------------------------------------------- */

.first {
    width: 100%;
    height: 54.5vh;
    padding: 30px 30px 0;
    overflow: hidden;
}

.first .long-container {
    display: flex;
}

.first .long-container .long-advertisement1 {
    width: 586.5px;
    height: 301px;
    background-image: url('https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/05/h1-banner4.jpg');
    border-radius: 4px;
    margin-right: 30px;
    background-position-x: -44px;
    padding: 40px;
    text-decoration: none;
    transition: all .1s ease;
    cursor: pointer;
}

.first .long-container .long-advertisement1:hover {
    background-position-x: 0px;
}

.first .long-container .long-advertisement1 h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

.first .long-container .long-advertisement1 .long-sale {
    font-size: 64px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    color: white;
    display: flex;
    cursor: pointer;
}

.first .long-container .long-advertisement1 .long-sale span {
    font-size: 22.5px;
    padding: 10px 0 40px 5px;
    cursor: pointer;
}

.first .long-container .long-advertisement1 .hotline-order {
    width: 209.25px;
    height: 90px;
    background-image: url('https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/05/h1-banner5.png');
    background-repeat: no-repeat;
    padding: 14px 15px 15px 18px;
    font-size: 14px;
    font-weight: 650;
    line-height: 25px;
    color: #ff782c;
    font-family: "Rubik", sans-serif;
    letter-spacing: -0.25px;
    cursor: pointer;
}

.first .long-container .long-advertisement1 .hotline-order span {
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
}

.first .long-container .long-advertisement2 {
    width: 586.5px;
    height: 300px;
    background-image: url('https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/05/h1-banner6.jpg');
    border-radius: 4px;
    background-position-x: -44px;
    padding: 40px;
    text-decoration: none;
    transition: all .4s ease;
    cursor: pointer;
}

.first .long-container .long-advertisement2:hover {
    background-position-x: 0px;
}

.first .long-container .long-advertisement2 p {
    font-size: 15px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    color: white;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    cursor: pointer;
}

.first .long-container .long-advertisement2 h3 {
    font-size: 48px;
    font-weight: 650;
    font-family: "Rubik", sans-serif;
    color: white;
    margin-bottom: 13px;
    cursor: pointer;
}

.first .long-container .long-advertisement2 div {
    font-size: 32px;
    font-weight: 650;
    font-family: "Rubik", sans-serif;
    color: white;
    cursor: pointer;
}

.first .long-container .long-advertisement2 div span {
    color: #FCC742;
    padding-left: 8px;
    cursor: pointer;
}

/* -------------------------------------------------------- */
/* -------------------- SECOND SECTION -------------------- */
/* -------------------------------------------------------- */

.second {
    width: 100%;
    height: 280vh;
    padding: 0 0 0 30px;
}

.second .shop-page {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.second .shop-page a {
    font-size: 15px;
    color: #999999;
    font-family: "Rubik", sans-serif;
    transform: all .2s ease;
    cursor: pointer;
    text-decoration: none;
}

.second .shop-page .fa-angle-right {
    font-size: 12px;
    color: black;
    margin: 2px 10px 0;
}

.second .shop-page p {
    font-size: 14px;
    color: black;
    font-family: "Rubik", sans-serif;
}

.second .shop-page a:hover {
    color: #ff782c;
}

.second .shop-sidebar {
    width: 300px;
    height: auto;
}

.second .shop-sidebar h2 {
    font-size: 20px;
    font-weight: 680;
    color: #000000;
    font-family: "Rubik", sans-serif;
    padding-bottom: 18px;
    margin-bottom: 25px;
    border-bottom: #E5E5E5 dashed 1px;
}

.second .shop-sidebar ul li {
    width: 300px;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.second .shop-sidebar ul li .fa-paw {
    font-size: 15px;
    color: #c0c0c0;
    margin-right: 15px;
    margin-top: 2.5px;
    transform: rotate(50deg);
    transition: all .2s ease;
    cursor: pointer;
}

.second .shop-sidebar ul li p {
    font-size: 14.5px;
    color: #666666;
    font-family: "Rubik", sans-serif;
    transition: all .2s ease;
    cursor: pointer;
}

.second .shop-sidebar ul li sub {
    font-size: 15px;
    font-weight: 600;
    color: #666666;
    margin-left: 190px;
    margin-top: 1px;
    transition: all .2s ease;
    cursor: pointer;
}

.second .shop-sidebar ul li span {
    font-size: 14px;
    color: #c8c8c8;
    font-family: "Rubik", sans-serif;
    transition: all .2s ease;
    cursor: pointer;
}

.second .shop-sidebar ul li:hover i {
    color: #ff782c;
}

.second .shop-sidebar ul li:hover p {
    color: #ff782c;
}

.second .shop-sidebar ul li:hover sub {
    color: #ff782c;
}

.second .shop-sidebar ul li:hover span {
    color: #ff782c;
}

.shop-now {
    width: 85px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #6839cc;
    font-family: "Rubik", sans-serif;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

.shop-now i {
    width: 24px;
    height: 24px;
    font-size: 11px;
    color: black;
    background-color: white;
    border-radius: 50%;
    margin-left: 7px;
    padding-top: 7px;
    transition: all .3s ease;
    cursor: pointer;
}

.shop-now:hover {
    background-color: #7D44F5;
}

.shop-now:hover i {
    color: white;
    background-color: #ff782c;
    transform: translateX(5px);
}

.range-slider {
    height: 2px;
    background-color: #E5E5E5;
    position: relative;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background-color: #ff782c;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #ff782c;
    background-color: #ffffff;
    pointer-events: auto;
    -webkit-appearance: none;
    margin-top: 2px;
    cursor: ew-resize;
}

.range-input input::-webkit-slider-thumb:hover {
    outline: rgba(0, 0, 0, 0.1) 4px solid;
}

.range-price {
    margin: 23px 0 36px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.range-price div {
    padding-right: 106px;
}

.range-price label {
    font-size: 14.5px;
    font-weight: 380;
    font-family: "Rubik", sans-serif;
    color: #666666;

}

.range-price input {
    font-size: 14.5px;
    font-weight: 380;
    font-family: "Rubik", sans-serif;
    color: #666666;
    width: 45px;
    border: none;
    margin-right: -30px;
}

.second .shop-sidebar .best-products {
    padding:  0;
}

.second .shop-sidebar .best-products div img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    cursor: pointer;
}

.second .shop-sidebar .best-products div div i {
    font-size: 12px;
    color: #FFCB45;
    margin-left: 2px;
}

.second .shop-sidebar .best-products div div p {
    font-size: 12.5px;
    font-weight: 360;
    color: #999999;
    font-family: "Rubik", sans-serif;
    margin-left: 8px;
}

.second .shop-sidebar .best-products div .product-txt .review-container {
    display: flex;
    align-items: center;
}

.second .shop-sidebar .best-products div .product-txt span {
    font-size: 15px;
    font-weight: 360;
    color: black;
    font-family: "Rubik", sans-serif;
    margin-bottom: 5px;
    line-height: 24px;
    letter-spacing: 0.25px;
    cursor: pointer;
    transition: all .2s ease;
}

.second .shop-sidebar .best-products div span:hover {
    color: #ff782c;
}

.second .shop-sidebar .best-products div div {
    display: flex;
}

.second .shop-sidebar .best-products .product-txt {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.second .shop-sidebar .best-products .product-txt .review-container {
    margin-left: -2px;
}

.second .shop-sidebar .best-products .best-productbox h4 {
    font-size: 15px;
    font-weight: 700;
    color: #6839cc;
    font-family: "Rubik", sans-serif;
    margin-top: 6px;
    margin-right: 6px;
}

.second .shop-sidebar .best-products .best-productbox .bestproduct-sale del {
    font-size: 12px;
    font-weight: 360;
    color: #999999;
    font-family: "Rubik", sans-serif;
    margin-top: 8px;
}

.second .shop-sidebar .best-products .best-productbox {
    margin: 20px 0;
}

.second .shop-sidebar .filter-by-tags .tag-boxes {
    display: flex;
    flex-wrap: wrap;
}

.second .shop-sidebar .filter-by-tags .tag-box {
    font-size: 12.5px;
    font-weight: 360;
    color: #999999;
    font-family: "Rubik", sans-serif;
    background-color: transparent;
    border: #e5e5e5 solid 1px;
    border-radius: 50px;
    text-decoration: none;
    padding: 4.5px 11.5px;
    margin: 0 10px 10px 0;
    transition: all .2s ease;
    cursor: pointer;
}

.second .shop-sidebar .filter-by-tags .tag-box:hover {
    background-color: #ff782c;
    color: white;
    border-color: #ff782c;
}

/* ------------------------------------------------------- */
/* ---------------------- SHOP MAIN ---------------------- */
/* ------------------------------------------------------- */

.shop-display {
    display: flex;
}

.shop-main {
    padding: 0 0 0 15px;
}

.shop-main .shop-sorting .list-type .list-grid div {
    display: flex;
}

.shop-main .shop-sorting .list-type .list-grid div .fa-square {
    font-size: 7.5px;
    color: #ff782c;
    cursor: pointer;
}

.shop-main .shop-sorting .list-type .list-line .fa-list {
    font-size: 17.5px;
    color: #666666;
    cursor: pointer;
    transition: all .3s ease;
}

.shop-main .shop-sorting .list-type .list-line .fa-list:hover {
    color: #ff782c;
}

.shop-main .shop-sorting .extra-sorting span {
    font-size: 14.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
    margin-left: 20px;
    transition: all .3s ease;
    cursor: pointer;
}

.shop-main .shop-sorting .extra-sorting span:hover {
    color: #ff782c;
}

.shop-main .shop-sorting .extra-sorting span:hover i {
    color: #ff782c;
    transform: rotate(180deg);
}

.shop-main .shop-sorting .extra-sorting span i {
    font-size: 10px;
    margin-left: 7px;
    transition: all .3s ease;
}

.shop-main .shop-sorting .extra-sorting p {
    font-size: 14.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
}

.mainproduct-boxes1 {
    display: flex;
    margin-bottom: 85px;
}

.mainproduct-boxes2 {
    display: flex;
    margin-bottom: 85px;
}

.mainproduct-boxes3 {
    display: flex;
    margin-bottom: 85px;
}

.mainproduct-boxes4 {
    display: flex;
    margin-bottom: 85px;
}

.product-box .discount-box {
    width: 22%;
    height: 24px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    background-color: #FF004C;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 11px;
    cursor: pointer;

    position: absolute;
    top: 11px;
    left: 11px;
}

.product-box .essential-btns .fa-heart {
    width: 40px;
    height: 40px;
    color: black;
    border: #e5e5e5 solid 1px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 7px;
    padding-top: 1px;
    transition: all .3s ease;
    cursor: pointer;
}

.product-box .essential-btns .fa-right-left {
    width: 40px;
    height: 40px;
    color: black;
    border: #e5e5e5 solid 1px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 7px;
    transition: all .3s ease;
    cursor: pointer;
}

.product-box .essential-btns .fa-magnifying-glass {
    width: 40px;
    height: 40px;
    color: black;
    border: #e5e5e5 solid 1px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
}

.product-box .essential-btns .fa-heart:hover {
    color: white;
    background-color: #ff782c;
    border-color: #ff782c;
}

.product-box .essential-btns .fa-right-left:hover {
    color: white;
    background-color: #ff782c;
    border-color: #ff782c;
}

.product-box .essential-btns .fa-magnifying-glass:hover {
    color: white;
    background-color: #ff782c;
    border-color: #ff782c;
}

.product-box .essential-btns {
    position: absolute;
    top: 15px;
    right: 0;
    opacity: 0;
    transition: all .3s ease;
}

.product-box:hover .essential-btns {
    opacity: 1;
    position: absolute;
    top: 15px;
    right: 15px;
}

.product-box button {
    font-size: 14px;
    font-weight: 550;
    color: white;
    background-color: #6839CC;
    font-family: "Rubik", sans-serif;
    border: none;
    border-radius: 50px;
    padding: 11.5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: all .3s ease;

    position: absolute;
    bottom: 0;
    left: 12%;
}

.product-box button:hover {
    background-color: #ff782c;
}

.product-box button img {
    width: 8%;
    margin-right: 8px;
    cursor: pointer;
}

.product-box:hover button {
    position: absolute;
    bottom: 30px;
    opacity: 1;
}

.product-box .product-img {
    border: #E5E5E5 dashed 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
    position: relative;
}

.product-box {
    width: 271px;
    height: 271px;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    margin-bottom: 40px;
}

.product-box .product-discount {
    display: flex;
}

.product-box p {
    font-size: 16px;
    font-weight: 650;
    color: #6839cc;
    font-family: "Rubik", sans-serif;
    padding-top: 16px;
    margin-bottom: 9px;
    margin-right: 5px;
}

.product-box .sale-txt del {
    padding-top: 17px;
    margin-bottom: 8px;
    font-size: 14.5px;
    font-weight: 360; 
    color: #999999;
    font-family: "Rubik", sans-serif;
}

.product-box h6 {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    font-family: "Rubik", sans-serif;
    padding-top: 17px;
    text-decoration: line-through;
}

.product-box h3 {
    font-size: 15px;
    font-weight: 350;
    color: black;
    font-family: "Rubik", sans-serif;
    margin-bottom: 8px;
    letter-spacing: 0.25px;
    cursor: pointer;
    transition: all .2s ease;
}

.product-box div .fa-star {
    font-size: 12px;
    color: #FFCB45;
    margin-right: -2px;

}

.product-box div span {
    font-size: 12.5px;
    font-weight: 360;
    color: #999999;
    font-family: "Rubik", sans-serif;
    margin-left: 6px;
}

.product-box .product-img:hover {
    border-color: #ff782c;
}

.product-box h3:hover {
    color: #ff782c;
}

/* -------------------------------------------------------- */
/* ------------------------ FOOTER ------------------------ */
/* -------------------------------------------------------- */

footer {
    width: 100%;
    height: 80.7vh;
    padding: 90px 30px 40px;
    border-top: #E5E5E5 dashed 1px;
    cursor: default;
}

.footer-top {
    display: flex;
}

.footer-middle {
    display: flex;
    width: auto;
}

footer .footer-top .footer-first {
    width: 335.64px;
}

footer .footer-top .footer-first .footer-ziggy-logo {
    margin-bottom: 20px;
}

footer .footer-top .footer-first p {
    font-size: 15px;
    font-weight: 350;
    color: #666666;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    word-spacing: 0.25px;
    margin-bottom: 20px;
}

footer .footer-top .footer-first .hotline-order .phonecall-icon {
    width: 18.95px;
    height: 18.95px;
}

footer .footer-top .footer-first .hotline-order span {
    font-size: 14px;
    font-weight: 650;
    color: #000000;
    font-family: "Rubik", sans-serif;
    padding-left: 10px;

}

footer .footer-top .footer-first .hotline-order {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

footer .footer-top .footer-first h2 {
    font-size: 19px;
    font-weight: 660;
    color: #ff782c;
    font-family: "Rubik", sans-serif;
    margin-bottom: 25px;
}

footer .footer-top .footer-first .social-apps {
    display: flex;
}

footer .footer-top .footer-first .social-apps .social-link {
    font-size: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #000000;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    transition: all .2s ease;
}

footer .footer-top .footer-first .social-apps .social-link:hover {
    color: white;
    background-color: #6839CC;
}

/* -------------------------------------------------------- */
/* ------------------ FOOTER MIDDLE FIRST ----------------- */
/* -------------------------------------------------------- */

footer .footer-top .footer-middle .middle-first {
    width: 196.08px;
    padding: 0 20px;
}

footer .footer-top .footer-middle .middle-first h2 {
    font-size: 14.5px;
    font-weight: 680;
    color: #000000;
    font-family: "Rubik", sans-serif;
    margin-bottom: 32px;
}

footer .footer-top .footer-middle .middle-first p {
    font-size: 14.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    word-spacing: 0.25px;
    margin-bottom: 12px;
    cursor: pointer;
}

footer .footer-top .footer-middle .middle-first p:hover {
    color: #ff782c;
}

/* -------------------------------------------------------- */
/* ------------------ FOOTER MIDDLE MID ------------------- */
/* -------------------------------------------------------- */

footer .footer-top .footer-middle .middle-mid {
    width: 196.08px;
    padding: 0 20px;
}

footer .footer-top .footer-middle .middle-mid h2 {
    font-size: 14.5px;
    font-weight: 680;
    color: #000000;
    font-family: "Rubik", sans-serif;
    margin-bottom: 32px;
}

footer .footer-top .footer-middle .middle-mid p {
    font-size: 14.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    word-spacing: 0.25px;
    margin-bottom: 12px;
    cursor: pointer;
}

footer .footer-top .footer-middle .middle-mid p:hover {
    color: #ff782c;
}

/* -------------------------------------------------------- */
/* ------------------ FOOTER MIDDLE LAST ------------------ */
/* -------------------------------------------------------- */

footer .footer-top .footer-middle .middle-last {
    width: 144.35px;
    padding: 0 20px;
}

footer .footer-top .footer-middle .middle-last h2 {
    font-size: 14.5px;
    font-weight: 650;
    color: #000000;
    font-family: "Rubik", sans-serif;
    margin-bottom: 32px;
}

footer .footer-top .footer-middle .middle-last p {
    font-size: 14.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    word-spacing: 0.25px;
    margin-bottom: 12px;
    cursor: pointer;
}

footer .footer-top .footer-middle .middle-last p:hover {
    color: #ff782c;
}

/* -------------------------------------------------------- */
/* ---------------------- FOOTER LAST --------------------- */
/* -------------------------------------------------------- */

footer .footer-top .footer-last {
    padding-left: 20px;
}

footer .footer-top .footer-last h2 {
    font-size: 14.5px;
    font-weight: 650;
    color: #000000;
    font-family: "Rubik", sans-serif;
    margin-bottom: 25px;
}

footer .footer-top .footer-last p {
    font-size: 14.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    word-spacing: 0.25px;
    margin-bottom: 15px;
}

footer .footer-top .footer-last p span {
    color: #ff782c;
}

.searchbar {
    position: relative;
}

footer .footer-top .footer-last .searchbar input {
    width: 313.45px;
    height: 45.33px;
    font-size: 15px;
    font-family: "Rubik", sans-serif;
    background-color: #f5f5f5;
    border-radius: 50px;
    padding: 10px 25px;
    outline: none;
    border: none;
    margin-bottom: 22px;
}

footer .footer-top .footer-last .searchbar input::placeholder {
    color: #9d9d9d;
}

footer .footer-top .footer-last .searchbar button {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #6839cc;
    border: none;
    position: absolute;
    top: 7px;
    right: 8px;
    transition: all .2s ease;
    cursor: pointer;
}

footer .footer-top .footer-last .searchbar button i {
    color: white;
    font-size: 16px;
    cursor: pointer;
}

footer .footer-top .footer-last .searchbar button:hover {
    background-color: #ff782c;
}

footer .footer-top .footer-last .searchbar input:hover {
    border: #6839cc solid 1px;
}

footer .footer-top .footer-last .download-app img {
    width: 14.38px;
    height: 22.67px;
}

footer .footer-top .footer-last .download-app span {
    font-size: 14px;
    font-weight: 650;
    color: #000000;
    font-family: "Rubik", sans-serif;
    padding-left: 18px;
}

footer .footer-top .footer-last .download-app {
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 22px;
}

footer .footer-top .footer-last .download-stores {
    display: flex;
}

footer .footer-top .footer-last .download-stores img {
    margin-right: 10px;
}

/* ------------------------------------------------------- */
/* -------------------- FOOTER BOTTOM -------------------- */
/* ------------------------------------------------------- */

.footer-bottom {
    width: 1203px;
    height: 67px;
    display: flex;
    align-items: flex-end;
    border-top: #E5E5E5 dashed 1px;
    margin-top: 55px;
}

.footer-bottom h6 {
    font-size: 12.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    word-spacing: 0.25px;
    display: flex;
}

.footer-bottom h6 a {
    color: #000000;
    transition: all .2s ease;
    cursor: pointer;
    text-decoration: none;
}

.footer-bottom h6 i {
    color: #000000;
    font-size: 18px;
    opacity: 0.8;
    margin: 2px 4px 0;
}

.footer-bottom h6 a:hover {
    color: #ff782c;
}

.footer-bottom img {
    margin: 0 115px;
}

.footer-bottom .terms-and-service {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 70px;
}

.footer-bottom .terms-and-service .privacy {
    font-size: 12.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    word-spacing: 0.25px;
    margin-right: 8px;
    transition: all .2s ease;
    cursor: pointer;
}

.footer-bottom .terms-and-service .privacy:hover {
    color: #ff782c;
}

.footer-bottom .terms-and-service .terms {
    font-size: 12.5px;
    font-weight: 360;
    color: #666666;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    word-spacing: 0.25px;
    margin-left: 8px;
    transition: all .2s ease;
    cursor: pointer;
}

.footer-bottom .terms-and-service .terms:hover {
    color: #ff782c;
}

.footer-bottom .terms-and-service div {
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
}

.footer-bottom .bottom-container {
    display: flex;
    align-items: center;
}
